{% extends "base.html" %}

{% load static %}

{% block title %}
    Zann Cafe
{% endblock title %}

{% block body %}
<div id="contact" class="tm-page-content">
    <div class="tm-black-bg tm-contact-text-container">
      <h2 class="tm-text-primary">Contact Wave</h2>
      <p>Wave Cafe Template has a video background. You can use this layout for your websites. Please contact Tooplate's Facebook page. Tell your friends about our website.</p>
    </div>
    <div class="tm-black-bg tm-contact-form-container tm-align-right">
      <form action="" method="POST" id="contact-form" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="tm-form-group">
          <input type="text" name="title" class="tm-form-control" placeholder="Title" required="" />
        </div>       
        <div class="tm-form-group tm-mb-30">
          <textarea rows="6" name="content" class="tm-form-control" placeholder="Content" required=""></textarea>
        </div>  
        <div class="tm-form-group tm-mb-30">
          <input type="file" name="image" required>
        </div>
        <div class="tm-form-group tm-mb-30">
          <select name="category">
            {% for c in category %}
              <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
          </select>
        </div>      
        <div>
          <button type="submit" class="tm-btn-primary tm-align-right">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock body %}
