{% extends "base.html" %}
{% load static %}

{% block title %}
    Zann cafe
{% endblock title %}

{% block body %}
    <div class="tm-page-content">
        <div class="tm-list">
                {% if p.image %}
                    <img src="{{p.image.url}}" alt="{{p.image}}" class="tm-list-item-img">
                {% else %}
                    <img ssrc="http://localhost:8000/media/profile.jpeg" class="tm-list-item-img">
                {% endif %}
                <div class="tm-black-bg tm-list-item-text">
                    <h3 class="tm-list-item-name">{{p.title}}<span class="tm-list-item-price">{{p.content|linebreaks}}</span></h3>
                    <p>{{p.created_at}} / {{p.category}} / {{p.author}}</p>
                    {% if user.is_authenticated %}
                        <a href="/order/{{p.id}}" class="tm-btn-primary">Order</a> &nbsp; &nbsp; &nbsp; &nbsp;
                        <a href="/delete/{{p.id}}" class="tm-btn-primary">Delete</a>
                    {% endif %}
                </div>
        </div>
    </div>
{% endblock body %}
