{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}"> <!-- https://fontawesome.com/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="{% static 'Tooplate-wave-cafe.css' %}">
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>
    <div class="tm-container">
        <div class="tm-row">
            {% include "header.html" %}
               <div class="tm-right">
                    <main class="tm-main"> 
                        {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% block body %}{% endblock body %}
                    </main>
                <div>
        </div>
            {% include "footer.html" %} 
    </div>

    <div class="tm-video-wrapper">
        <i id="tm-video-control-button" class="fas fa-pause"></i>
        <video autoplay muted loop id="tm-video">
            <source src="{% static "video/wave-cafe-video-bg.mp4" %}" type="video/mp4">
        </video>
    </div>

    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>    
     <script>

        function setVideoSize() {
        const vidWidth = 1920;
        const vidHeight = 1080;
        const windowWidth = window.innerWidth;
        const windowHeight = window.innerHeight;
        const tempVidWidth = windowHeight * vidWidth / vidHeight;
        const tempVidHeight = windowWidth * vidHeight / vidWidth;
        const newVidWidth = tempVidWidth > windowWidth ? tempVidWidth : windowWidth;
        const newVidHeight = tempVidHeight > windowHeight ? tempVidHeight : windowHeight;
        const tmVideo = $('#tm-video');

        tmVideo.css('width', newVidWidth);
        tmVideo.css('height', newVidHeight);
        }

        function openTab(evt, id) {
        $('.tm-tab-content').hide();
        $('#' + id).show();
        $('.tm-tab-link').removeClass('active');
        $(evt.currentTarget).addClass('active');
        }    

        function initPage() {
        let pageId = location.hash;

        if(pageId) {
            highlightMenu($(`.tm-page-link[href^="${pageId}"]`)); 
            showPage($(pageId));
        }
        else {
            pageId = $('.tm-page-link.active').attr('href');
            showPage($(pageId));
        }
        }

        function highlightMenu(menuItem) {
        $('.tm-page-link').removeClass('active');
        menuItem.addClass('active');
        }

        function showPage(page) {
        $('.tm-page-content').hide();
        page.show();
        }

        $(document).ready(function(){

        /***************** Pages *****************/

        initPage();

        $('.tm-page-link').click(function(event) {
            
            if(window.innerWidth > 991) {
            event.preventDefault();
            }

            highlightMenu($(event.currentTarget));
            showPage($(event.currentTarget.hash));
        });

        
        /***************** Tabs *******************/

        $('.tm-tab-link').on('click', e => {
            e.preventDefault(); 
            openTab(e, $(e.target).data('id'));
        });

        $('.tm-tab-link.active').click(); // Open default tab


        /************** Video background *********/

        setVideoSize();

        // Set video background size based on window size
        let timeout;
        window.onresize = function(){
            clearTimeout(timeout);
            timeout = setTimeout(setVideoSize, 100);
        };

        // Play/Pause button for video background      
        const btn = $("#tm-video-control-button");

        btn.on("click", function(e) {
            const video = document.getElementById("tm-video");
            $(this).removeClass();

            if (video.paused) {
            video.play();
            $(this).addClass("fas fa-pause");
            } else {
            video.pause();
            $(this).addClass("fas fa-play");
            }
        });
        });
  </script>
</body>
</html>